html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248 248 255 / 50%);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2px;
}

/* Heading */
.heading {
    font-size: 50px;
    color: #2f2f2f;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .heading {
        font-size: 35px;
    }
}

.secChangeDivHeading {
    background-color: white;
    border-radius: 10px;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.sectionChangeBtn {
    width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: white;
    height: 40px;
    margin: 0px 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .secChangeDivHeading {
        width: 90%;
    }

    .sectionChangeBtn {
        font-size: 14px;
    }
}

/* Common Button */

.common_lnk {
    width: fit-content;
    outline: none;
    border: none;
    text-decoration: none;
    margin-top: 30px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #7C3AED;
}

.common_lnk:hover {
    background-color: #652bc9;
}

@media(max-width: 1280px) {
    .common_lnk {
        font-size: 15px;
    }
}


/* Image Slider */

@media (max-width: 500px) {
    .control-dots {
        display: none;
    }
}


/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 99999;
    background: #7C3AED;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top svg {
    font-size: 16px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #612abf;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}