.skillDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 500px 0px; */
    padding: 50px 0px;
}

.skillHead {
    font-size: 50px;
    margin-bottom: 30px;
}

.skillsHeading {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.skillHeadingBtn {
    outline: none;
    cursor: pointer;;
    border: none;
    font-size: 16px;
    color: white;
    width: 30%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    /* background-color: #7C3AED; */
}

.containerSkillDiv {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    grid-auto-flow: row;
    margin-top: 70px;
}

@media (max-width: 600px) {
    .skillsHeading {
        width: 90%;
    }

    .skillHeadingBtn {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .containerSkillDiv {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}